/*-- HTML5 Boilerplate. -----------------------------------------------------*/

@import "../../vendor/bower/html5-boilerplate/css/normalize.css";
@import "../../vendor/bower/html5-boilerplate/css/main.css";

/*-- Application stylesheets. -----------------------------------------------*/

.overlay_text{
font-size: 48pt;
position: absolute;
color: white;
top: 200px;
left: 100px;
}
